<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="newsletter justify-content-center pt-8 pb-5">                                               
                <div class="newsletter-heading text-center">
                    <h3 class="newsletter-title text-white">Get The Latest Deals</h3><!-- End .cta-title -->
                    <!-- End .cta-desc -->
                </div><!-- End .text-center -->
            
                <form action="#">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                        <div class="input-group-append">
                            <button class="btn btn-white" type="submit" title="Sing up">SUBSCRIBE</button>
                        </div><!-- .End .input-group-append -->
                    </div><!-- .End .input-group -->
                </form>                          
            </div><!-- End .cta -->  
        </div>

        <hr class="spacing mt-5">

        <div class="footer-main">
            <div class="owl-carousel owl-theme owl-icon-box cols-1 cols-lg-4 mt-2 mb-2" data-toggle="owl" data-owl-options='{
                "dots": false,
                "nav": false, 
                "margin": 20,
                "responsive": {
                    "0": {
                        "items": 1
                    },
                    "576": {
                        "items": 2
                    },
                    "768": {
                        "items": 3
                    },
                    "1200": {
                        "items": 4
                    }
                }
            }'>    
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="fa-solid fa-truck"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title text-white font-weight-normal">PAYMENT & DELIVERY</h3><!-- End .icon-box-title -->
                        <p>Free shipping for orders over N500000</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="fa-solid fa-rotate-left"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title text-white font-weight-normal">RETURN & REFUND</h3><!-- End .icon-box-title -->
                        <p>Free 100% money back guarantee</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="fa-solid fa-hands-holding"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title text-white font-weight-normal">QUALITY SUPPORT</h3><!-- End .icon-box-title -->
                        <p>Alway online feedback 24/7</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
        
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="fa-solid fa-envelope"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title text-white font-weight-normal">JOIN OUR NEWSLETTER</h3><!-- End .icon-box-title -->
                        <p>10% off by subscribing to our newsletter</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->    
            </div>

            <hr class="spacing mb-5"> 

            <div class="row widget"> 
                <div class="col-xl-2-5col">
                    <div class="widget widget-about">
                        <img src="images/logo/logo_white.png" class="footer-logo" alt="Footer Logo" width="82" height="20">
                        <p>Shop with us and get the best shopping experience </p>
                        
                        <div class="widget-about-info">                                   
                            <div class="phone-num">
                                <span class="widget-about-title">Got Question? Call us 24/7</span>
                                <a href="tel:+2348082957915" class="text-white">+234 808 295 7915</a>
                            </div><!-- End .col-sm-6 -->

                            <div class="payments">
                                <span class="widget-about-title">Payment Method</span>
                                <figure class="footer-payments">
                                    <img src="images/payments.png" alt="Payment methods" width="272" height="20">
                                </figure><!-- End .footer-payments -->
                            </div><!-- End .col-sm-6 -->     
                        </div>                           
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-3 -->

                <div class="col-sm-4 col-xl-5col">
                    <div class="widget">
                        <h4 class="widget-title text-white font-weight-normal mb-2">INFORMATION</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about">About The New Wave</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                     
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-xl-5col">
                    <div class="widget">
                        <h4 class="widget-title text-white font-weight-normal mb-2">CUSTOMER SERVICE</h4><!-- End .widget-title -->

                        <!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-xl-5col">
                    <div class="widget">
                        <h4 class="widget-title text-white font-weight-normal mb-2">MY ACCOUNT</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                  
                            <li><a href="cart">View Cart</a></li>
                         
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-64 col-lg-3 -->
            </div><!-- End .row -->
        </div>

        <div class="footer-bottom">
            <div class="container">
              <!-- End .footer-copyright -->
                <ul class="footer-menu">
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul><!-- End .footer-menu -->

                <div class="social-icons social-icons-color">
                    <span class="social-label">Social Media</span>
                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    <!-- <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a> -->

                </div><!-- End .soial-icons -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
        
    </div>
</footer>