<section class="intro-section section-scroll">
    <div class="banner banner-big" style="background-image:   linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/product/2/static_2.webp);  background-color: #aeaeae;">                    
        <div class="banner-content">
            <h5 class="banner-subtitle text-white">END OF SEASON SALE</h5>
            <h3 class="banner-title text-white">Your Fall Fashion</h3>
            <a href="shop" class="btn btn-secondary">DISCOVER NOW</a>
        </div><!--End .banner-content-->
    </div><!--End .banner banner-big-->
</section>