<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">About us</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<div class="container">
    <div class="page-header page-header-big text-center" style="background-image: url('images/about-header-bg.jpg')">
        <h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
    </div><!-- End .page-header -->
</div><!-- End .container -->

<div class="page-content pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-3 mb-lg-0">
                <h2 class="title">Our Vision</h2><!-- End .title -->
                <p>After much work and research, The New Wave has since the beginning aimed to go global and not just stand amongst accomplished fashion brands, but to also inspire creative minds, comfort gloomy minds and speak to every individual who comes across the brand, no matter their style or fashion choices. </p>
            </div><!-- End .col-lg-6 -->
            
            <div class="col-lg-6">
                <h2 class="title">Our Mission</h2><!-- End .title -->
                <p>As customer satisfaction should be top tier priority, The New Wave as a brand is set to make each and every customer completely content with our services and products. This we wish to achieve by putting every individual customer at top level, making each customer a key ingredient to the company’s growth and success. </p>
            </div><!-- End .col-lg-6 -->
        </div><!-- End .row -->

        <div class="mb-5"></div><!-- End .mb-4 -->
    </div><!-- End .container -->

    <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
        <div class="container">
            <div class="row">
                <div class=" mb-3 mb-lg-0">
                    <h2 class="title">Who We Are</h2><!-- End .title -->
                    <p class="lead text-primary mb-3">The New Wave is a vibrant retail clothing brand founded by a voguish Nigerian Dj, <br>popularly known as Dj Biosky</p><!-- End .lead text-primary -->
                    <p class="mb-2">This clothing brand brings forward spectacular designs where quality and luxury meet stylish. Founded in January 2023, the esteemed CEO and mastermind of the brand, envisioned fashion forward and trendy collection of apparels, made with the best quality fabrics and brilliant designs. His idea after being inspired by various fashion trends in the music and nightlife industry, was to reach out to various people not just through DJing, but also through a fashion statement, hence the birth of The New Wave. </p>

               
                </div><!-- End .col-lg-5 -->
><!-- End .col-lg-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .bg-light-2 pt-6 pb-6 -->

<!-- End .container -->

    <div class="mb-2"></div><!-- End .mb-2 -->

   <!-- End .bg-light-2 pt-5 pb-6 -->
</div>