<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Checkout<span>Shop</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="checkout">
        <div class="container">
            <div class="checkout-discount">
              
            </div><!-- End .checkout-discount -->
            <form action="#" id="payment_info">
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                            

                            <label>Name *</label>
                            <input  name="name" type="text" class="form-control" required>


                            <label>Phone Number *</label>
                            <input  name="phoneNumber" type="text" class="form-control" required>
                         
                            <label>State *</label>
                            <input id="state"  name="state" type="text" class="form-control" required>

                            <label>Country *</label>
                            <input  value="Nigeria" disabled type="text" class="form-control" required>

                            <label>Street address *</label>
                            <input name="address" type="text" class="form-control" placeholder="House number and Street name" required>
                     

                            <label>Email address *</label>
                            <input name="email" type="email" class="form-control" required>

                           

                            <label>Order notes (optional)</label>
                            <textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary">
                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody id="checkout_details">
                                    
                                
                                </tbody>
                                <tbody>
                                    <tr class="summary-total">
                                        <td class="location">Location</td>
                                        <td class="price_location">0.00</td>
                                    </tr>
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td class="checkout-total">0.00</td>
                                    </tr>

                                </tbody>
                            </table><!-- End .table table-summary -->

                     

                            <button type="submit" id="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                <span class="btn-text">Place Order</span>
                                <span class="btn-hover-text">Proceed to Checkout</span>
                            </button>
                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div><!-- End .page-content -->

<div class="modal" id="modal-loading" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="loading-spinner mb-2"></div>
           <div>Loading</div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">


    
       
     
  
    let btnClick = document.getElementById("payment_info");
    const form = document.querySelector("#payment_info");
    const cartList = JSON.parse(localStorage.getItem("cart"));
    const cartArray = cartList === null ? [] : cartList;
    const stateField = document.querySelector("#state");
    let accumulation;
    const totalPrice =
    cartArray.length > 0
      ? cartArray
          .map((item) => Number(item.price) * Number(item.quantity))
          .reduce((accum, prev) => accum + prev)
      : 0.0;
    stateField.addEventListener('input', ()=>{
        setTimeout(()=>{
            if(stateField.value.toLowerCase() === "lagos"){
                const lagosPrice = 3000
                document.querySelector(".location").innerHTML = "Within Lagos";
                document.querySelector(".price_location").innerHTML = `N${lagosPrice}`
                 accumulation = totalPrice + lagosPrice 

                document.querySelector(".checkout-total").innerHTML = `N${accumulation}`;

            }else{
                const outLagos = 5000
                document.querySelector(".location").innerHTML = "Outside Lagos";
                document.querySelector(".price_location").innerHTML = `N${outLagos}`
                 accumulation = totalPrice + outLagos 

                document.querySelector(".checkout-total").innerHTML = `N${accumulation}`;
            }
        }, 2000)
    })
    const formObject = {};


   
    formObject.transactionItems = cartArray;
    btnClick.addEventListener('submit', async(e)=>{

        e.preventDefault();
        $('#modal-loading').modal('show');
      
        formObject.amount = accumulation
        const formData = new FormData(form);
        const keys = [...formData.keys()];
        const values = [...formData.values()];

        for (let i = 0; i < keys.length; i++) {
            formObject[keys[i]] = values[i];
         }


     

        try {
           
            const response = await fetch(
              "https://weee.life/biosky/v1/initialize",
      
              {
                headers: {
                  "Content-Type": "application/json",
                },
                method: "post",
                body: JSON.stringify({
                  ...formObject,
                }),
              }
            );
            if (response.status === 200) {
                $('#modal-loading').modal('hide');
              $("#loading").fadeOut(500);
              const url = await response.json();
              window.location = url.data.authorization_url;
            } else {
                $('#modal-loading').modal('hide');
              swal.fire({
                title: "Error!",
                text: "An Error occured while processing your request",
                icon: "error",
              });
      
              $("#loading").fadeOut(500);
            }
          } catch (error) {
            $('#modal-loading').modal('hide');
            console.log("error", error);
            swal.fire({
              title: "Error!",
              text: "An Error occured while processing your request",
              icon: "error",
            });
          }

    })
   
</script>